@model IEnumerable<BusinessViewModel>
@{
    ViewData["Title"] = "AppointMe: the largest service network.";
}
<h6 class="display-4">@ViewData["Title"]</h6>

<partial name="_IndexViewPartial" model="Model" />


