@model List<ServiceInfoModels>

@{
    ViewData["Title"]="Available Services";
}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="text-center title-message">@ViewData["Title"]</h5>
            <div class="row">
                @foreach (var service in Model)
                {
                    <div class="col-sm-3">
                        <div class="card day-card mb-3 h-100 text-center shadow-lg">
                            <div class="img-container">
                                <img src="@service.ImageUrl" class="card-img-top img-fluid" alt="@service.BusinessType.ToString()">
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">@service.BusinessType.ToString()</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>

    .img-container {
        height: 200px;
        overflow: hidden;
    }

        .img-container img {
            height: 100%;
            object-fit: cover;
        }
</style>

