@model MyProfileViewModel

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                        </li>
                    </ul>

                    <!-- Tab content -->
                    <div class="tab-content" id="myTabContent">
                        <!-- Login -->
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <partial name="_CustomLoginPartial" model="Model.LoginFormModel" />
                        </div>

                        <!-- Register -->
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <partial name="_CustomRegisterPartial" model="Model.RegisterFormModel" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function Check() {
        const checkBox = document.getElementById("registerAsBusinessProvider");
        const businessDiv = document.getElementById("businessProviderFields");

        if (checkBox.checked) {
        businessDiv.style.display = 'block';
        document
                .querySelectorAll('#businessProviderFields .form-control')
                .forEach(input => {
                                input.setAttribute('required', 'true');
                });
    } else {
        businessDiv.style.display = 'none';
        document
                .querySelectorAll('#businessProviderFields .form-control')
                .forEach(input => {
                        input.removeAttribute('required');
                });
    }
    }
</script>
