<div class="container" style="text-align:center">
    &copy; @DateTime.Today.Year - AppointMeWeb | Schedule Made Simple by Atanas Bobchev
    | LinkedIn:
    <a href="https://www.linkedin.com/in/atanas-bobchev-62a99b289/" target="_blank" class="linkedin-icon">
        <i class="fa-brands fa-linkedin" style="font-size: 25px; color:whitesmoke !important;"></i>
    </a>
</div>