@model IEnumerable<BusinessAppointmentViewModel>
@{
    ViewData["Title"] = $"Appointments for today: {DateTime.Now.ToString(NameDayOfWeek)}, {DateTime.Now.ToString(DateMonthYearFormat)}";
}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="text-center title-message">@ViewData["Title"]</h5>
            <div class="row">
                <partial name="_AppointmentCard" model="Model" />
            </div>
        </div>
    </div>
</div>


