@model FindFormModel

@{
    ViewBag.Title = "Find Service in our Network and make apointment";
    ViewBag.Message = "No business is added";
}

<h2>@ViewBag.Title </h2>
<form asp-controller="Find" asp-action="FindService" method="get">
    <div class="row">
        <div class="form-group col-md-2 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="TypeOfBusiness"></label>
                <select asp-for="TypeOfBusiness" class="form-control">
                    <option value="">All</option>
                    @foreach (var business in Model.BusinessTypes)
                    {
                        <option value="@business">@business</option>
                    }
                </select>
                <span asp-validation-for="TypeOfBusiness" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-2">
            <label asp-for="SearchingTown"></label>
            <input asp-for="SearchingTown" class="form-control" placeholder="Find by town">
            <span asp-validation-for="SearchingTown" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="BusinessName"></label>
            <input asp-for="BusinessName" class="form-control" placeholder="Find by BusinessName">
            <span asp-validation-for="BusinessName" class="text-danger"></span>
        </div>
        
        <div class="form-group col-md-4">
            <label asp-for="SearchingInDescription"></label>
            <input asp-for="SearchingInDescription" class="form-control" placeholder="Serach for specific services">
            <span asp-validation-for="SearchingInDescription" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@if (Model ==null || Model.Businesses == null)
{
    <span class="text-danger">@ViewBag.Message</span>
}
else
{
    <partial name="_IndexViewPartial" model="Model.Businesses" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}


