
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="BusinessArea" asp-controller="Home" asp-action="BusinessHomeIndex">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="BusinessArea" asp-controller="BusinessSetup" asp-action="Setup">BusinessSetup</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="scheduleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Schedule
        </a>
        <ul class="dropdown-menu" aria-labelledby="scheduleDropdown">
            <li><a class="dropdown-item" asp-area="BusinessArea" asp-controller="Schedule" asp-action="Today">Today</a></li>
            <li><a class="dropdown-item" asp-area="BusinessArea" asp-controller="Schedule" asp-action="Tomorrow">Tomorrow</a></li>
            <li><a class="dropdown-item" asp-area="BusinessArea" asp-controller="Schedule" asp-action="NextSevenDays">Next 7 Days</a></li>
            <li><a class="dropdown-item" asp-area="BusinessArea" asp-controller="Schedule" asp-action="DateRange">Date Range</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="BusinessArea" asp-controller="ClientRecords" asp-action="SearchRecords">ClientRecords</a>
    </li>
    
</ul>
