

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="BusinessArea" asp-controller="Home" asp-action="BusinessHomeIndex">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="BusinessArea" asp-controller="BusinessSetup" asp-action="Setup">BusinessSetup</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="UserAres" asp-controller="FindService" asp-action="Find">FindService</a>
    </li>
</ul>
