

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Schedule Made Simple</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppointMeWeb.styles.css" asp-append-version="true" />
    
    <style>
       

        .footer {
            background-color: #273E51 !important;
            color: #FF8C00 !important;
        }


        .linkedin-icon:hover {
            background-color: #FF8C00 !important;
            /* color: #FF8C00 !important; */
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                @if (User.IsUser() || User.IsBusinessProvider())
                {
                    <div class="navbar-collapse d-flex justify-content-between align-items-center">
                        <a class="navbar-brand" asp-area="UserArea" asp-controller="Home" asp-action="UserHomeIndex">UserPageArea</a>
                        @await Component.InvokeAsync(nameof(UserMenuComponent))
                        <partial name="_LoginPartial" />
                    </div>
                }

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Today.Year - AppointMeWeb | Schedule Made Simple by Atanas Bobchev
            | LinkedIn: 
            <a href="https://www.linkedin.com/in/atanas-bobchev-62a99b289/" target="_blank" class="linkedin-icon">
                <i class="fa-brands fa-linkedin" style="font-size: 25px; color:whitesmoke !important;"></i>
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
